body{
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align:center;
    color:white;
}

.box{
    background:white;
    color:black;
    width:350px;
    margin:auto;
    margin-top:80px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.btn{
    display:block;
    margin:10px;
    padding:10px;
    background:#007bff;
    color:white;
    text-decoration:none;
    border-radius:8px;
}